requests
lxml
pymongo
psycopg2
redis
scrapy-redis
service_identity
attrs
awscli
BeautifulSoup
beautifulsoup4
botocore
cffi
colorama
cryptography
cssselect
docutils
enum34
feedfinder2
feedparser
futures
goose-extractor
idna
ipaddress
jieba
jmespath
lxml
newspaper
nltk
parsel
Pillow
psycopg2
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pymongo
pyOpenSSL
python-dateutil
PyYAML
queuelib
rsa
s3transfer
scrapy-redis
scrapyd
scrapyd-client
service-identity
setuptools
six
tldextract
Twisted
w3lib
wheel
zope.interface
scrapy==1.0.0
